USE [master]
GO
/****** Object:  Database [db_consulta_legal]    Script Date: 6/26/2021 12:25:52 AM ******/
CREATE DATABASE [db_consulta_legal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_consulta_legal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\db_consulta_legal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_consulta_legal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\db_consulta_legal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_consulta_legal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_consulta_legal]
GO
/****** Object:  User [app_user]    Script Date: 6/26/2021 12:25:52 AM ******/
CREATE USER [app_user] FOR LOGIN [app_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [app_user]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [app_user]
GO
/****** Object:  Table [dbo].[tb_boleta]    Script Date: 6/26/2021 12:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_boleta](
	[idBoleta] [int] IDENTITY(1,1) NOT NULL,
	[cedula] [varchar](16) NOT NULL,
	[idClasificador] [tinyint] NOT NULL,
	[idRespuesta] [int] NULL,
	[fechaHora] [datetime] NOT NULL,
	[palabraClave1] [varchar](16) NOT NULL,
	[palabraClave2] [varchar](16) NULL,
	[comentario] [varchar](256) NOT NULL,
	[ipDispositivo] [varchar](32) NOT NULL,
 CONSTRAINT [PK_tb_boleta] PRIMARY KEY CLUSTERED 
(
	[idBoleta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cambio_boleta]    Script Date: 6/26/2021 12:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cambio_boleta](
	[idCambio] [tinyint] IDENTITY(1,1) NOT NULL,
	[idBoleta] [int] NOT NULL,
	[idClasificador] [tinyint] NOT NULL,
	[fechaHora] [datetime] NOT NULL,
	[palabraClave1] [varchar](16) NOT NULL,
	[palabraClave2] [varchar](16) NULL,
	[comentario] [varchar](256) NOT NULL,
	[ipDispositivo] [varchar](12) NOT NULL,
 CONSTRAINT [PK_tb_cambio_boleta] PRIMARY KEY CLUSTERED 
(
	[idCambio] ASC,
	[idBoleta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_clasificador]    Script Date: 6/26/2021 12:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_clasificador](
	[idClasificador] [tinyint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](96) NOT NULL,
 CONSTRAINT [PK_tb_clasificador] PRIMARY KEY CLUSTERED 
(
	[idClasificador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_comentario_respuesta]    Script Date: 6/26/2021 12:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_comentario_respuesta](
	[idComentario] [tinyint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](16) NOT NULL,
 CONSTRAINT [PK_tb_comentario_respuesta] PRIMARY KEY CLUSTERED 
(
	[idComentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_departamento]    Script Date: 6/26/2021 12:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_departamento](
	[idDepartamento] [tinyint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](64) NOT NULL,
 CONSTRAINT [PK_tb_departamento] PRIMARY KEY CLUSTERED 
(
	[idDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_evidencia]    Script Date: 6/26/2021 12:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_evidencia](
	[idEvidencia] [tinyint] IDENTITY(1,1) NOT NULL,
	[idBoleta] [int] NOT NULL,
	[urlArchivoEvidencia] [varchar](128) NULL,
	[detalle] [varchar](512) NOT NULL,
 CONSTRAINT [PK_tb_evidencia] PRIMARY KEY CLUSTERED 
(
	[idEvidencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_genero]    Script Date: 6/26/2021 12:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_genero](
	[idGenero] [tinyint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](16) NULL,
 CONSTRAINT [PK_tb_genero] PRIMARY KEY CLUSTERED 
(
	[idGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_login]    Script Date: 6/26/2021 12:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_login](
	[correo] [varchar](48) NOT NULL,
	[contrasena] [varchar](60) NOT NULL,
	[cedula] [varchar](16) NOT NULL,
 CONSTRAINT [PK_tb_login_1] PRIMARY KEY CLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_respuesta_legal]    Script Date: 6/26/2021 12:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_respuesta_legal](
	[idRespuesta] [int] IDENTITY(1,1) NOT NULL,
	[idComentario] [tinyint] NOT NULL,
	[idUsuario] [smallint] NOT NULL,
	[detalle] [varchar](512) NOT NULL,
	[fechaHora] [datetime] NOT NULL,
	[ipDispositivo] [varchar](12) NULL,
 CONSTRAINT [PK_tb_respuesta_legal] PRIMARY KEY CLUSTERED 
(
	[idRespuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_usuario]    Script Date: 6/26/2021 12:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_usuario](
	[cedula] [varchar](16) NOT NULL,
	[idDepartamento] [tinyint] NOT NULL,
	[idGenero] [tinyint] NOT NULL,
	[nombre] [varchar](16) NOT NULL,
	[apellidos] [varchar](32) NOT NULL,
	[urlArchivoFoto] [varchar](48) NULL,
	[fechaNacimiento] [date] NOT NULL,
	[correo] [varchar](48) NOT NULL,
	[celular] [varchar](24) NULL,
	[codigo] [smallint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tb_usuario_1] PRIMARY KEY CLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_boleta]  WITH CHECK ADD  CONSTRAINT [FK_tb_boleta_tb_clasificador] FOREIGN KEY([idClasificador])
REFERENCES [dbo].[tb_clasificador] ([idClasificador])
GO
ALTER TABLE [dbo].[tb_boleta] CHECK CONSTRAINT [FK_tb_boleta_tb_clasificador]
GO
ALTER TABLE [dbo].[tb_boleta]  WITH CHECK ADD  CONSTRAINT [FK_tb_boleta_tb_respuesta_legal] FOREIGN KEY([idRespuesta])
REFERENCES [dbo].[tb_respuesta_legal] ([idRespuesta])
GO
ALTER TABLE [dbo].[tb_boleta] CHECK CONSTRAINT [FK_tb_boleta_tb_respuesta_legal]
GO
ALTER TABLE [dbo].[tb_boleta]  WITH CHECK ADD  CONSTRAINT [FK_tb_boleta_tb_usuario] FOREIGN KEY([cedula])
REFERENCES [dbo].[tb_usuario] ([cedula])
GO
ALTER TABLE [dbo].[tb_boleta] CHECK CONSTRAINT [FK_tb_boleta_tb_usuario]
GO
ALTER TABLE [dbo].[tb_cambio_boleta]  WITH CHECK ADD  CONSTRAINT [FK_tb_cambio_boleta_tb_boleta] FOREIGN KEY([idBoleta])
REFERENCES [dbo].[tb_boleta] ([idBoleta])
GO
ALTER TABLE [dbo].[tb_cambio_boleta] CHECK CONSTRAINT [FK_tb_cambio_boleta_tb_boleta]
GO
ALTER TABLE [dbo].[tb_cambio_boleta]  WITH CHECK ADD  CONSTRAINT [FK_tb_cambio_boleta_tb_clasificador] FOREIGN KEY([idClasificador])
REFERENCES [dbo].[tb_clasificador] ([idClasificador])
GO
ALTER TABLE [dbo].[tb_cambio_boleta] CHECK CONSTRAINT [FK_tb_cambio_boleta_tb_clasificador]
GO
ALTER TABLE [dbo].[tb_evidencia]  WITH CHECK ADD  CONSTRAINT [FK_tb_evidencia_tb_boleta] FOREIGN KEY([idBoleta])
REFERENCES [dbo].[tb_boleta] ([idBoleta])
GO
ALTER TABLE [dbo].[tb_evidencia] CHECK CONSTRAINT [FK_tb_evidencia_tb_boleta]
GO
ALTER TABLE [dbo].[tb_login]  WITH CHECK ADD  CONSTRAINT [FK_tb_login_tb_usuario] FOREIGN KEY([cedula])
REFERENCES [dbo].[tb_usuario] ([cedula])
GO
ALTER TABLE [dbo].[tb_login] CHECK CONSTRAINT [FK_tb_login_tb_usuario]
GO
ALTER TABLE [dbo].[tb_respuesta_legal]  WITH CHECK ADD  CONSTRAINT [FK_tb_respuesta_legal_tb_comentario_respuesta] FOREIGN KEY([idComentario])
REFERENCES [dbo].[tb_comentario_respuesta] ([idComentario])
GO
ALTER TABLE [dbo].[tb_respuesta_legal] CHECK CONSTRAINT [FK_tb_respuesta_legal_tb_comentario_respuesta]
GO
ALTER TABLE [dbo].[tb_usuario]  WITH CHECK ADD  CONSTRAINT [FK_tb_usuario_tb_departamento] FOREIGN KEY([idDepartamento])
REFERENCES [dbo].[tb_departamento] ([idDepartamento])
GO
ALTER TABLE [dbo].[tb_usuario] CHECK CONSTRAINT [FK_tb_usuario_tb_departamento]
GO
ALTER TABLE [dbo].[tb_usuario]  WITH CHECK ADD  CONSTRAINT [FK_tb_usuario_tb_genero1] FOREIGN KEY([idGenero])
REFERENCES [dbo].[tb_genero] ([idGenero])
GO
ALTER TABLE [dbo].[tb_usuario] CHECK CONSTRAINT [FK_tb_usuario_tb_genero1]
GO
/****** Object:  StoredProcedure [dbo].[sp_consultar_correo_usuario]    Script Date: 6/26/2021 12:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_consultar_correo_usuario] 
	-- Add the parameters for the stored procedure here
	@idUsuario smallint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT correo from tb_usuario where idUsuario = @idUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_consultar_login]    Script Date: 6/26/2021 12:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_consultar_login]
@nombreUsuario as varchar(16)
as
select contrasena,nombreUsuario, idUsuario
from dbo.tb_login
where nombreUsuario = @nombreUsuario
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_boleta]    Script Date: 6/26/2021 12:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insertar_boleta]
@cedula AS VARCHAR(16),
@clasificador AS TINYINT,
@fechaHora AS DATETIME,
@palabraClave1 AS VARCHAR(16),
@palabraClave2 AS VARCHAR(16),
@comentario AS VARCHAR(256),
@ip AS VARCHAR(32),
@url AS VARCHAR(128),
@id AS INT OUTPUT
AS
BEGIN
	insert into [dbo].[tb_boleta] ([cedula],
								   [idClasificador],
								   [fechaHora],
								   [palabraClave1],
								   [palabraClave2],
								   [comentario],
								   [ipDispositivo])
	values (@cedula,
			@clasificador,
			@fechaHora,
			@palabraClave1,
			@palabraClave2,
			@comentario,
			@ip)
	select @id = idBoleta from tb_boleta where fechaHora = @fechaHora;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_evidencia]    Script Date: 6/26/2021 12:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insertar_evidencia]
@boleta AS INT,
@url AS VARCHAR(48),
@detalle AS VARCHAR(512)
AS
BEGIN
	insert into [dbo].[tb_evidencia] ([idBoleta],
								   [urlArchivoEvidencia],
								   [detalle])
	values (@boleta,
			@url,
			@detalle)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_usuario]    Script Date: 6/26/2021 12:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_insertar_usuario]
@cedula as varchar(16),
@nombre as varchar(16),
@apellidos as varchar(32),
@fechaNacimiento as date,
@correo as varchar(48),
@celular as varchar(24),
@contrasena as varchar(60),
@genero as tinyint,
@departamento as tinyint
AS
BEGIN
	insert into dbo.tb_usuario ([cedula],[nombre],[apellidos],[fechaNacimiento],[correo],[celular],[idGenero],[idDepartamento])
	values (@cedula,@nombre,@apellidos,@fechaNacimiento,@correo,@celular,@genero,@departamento)
	insert into dbo.tb_login ([cedula],[contrasena],[correo]) 
	values (@cedula,@contrasena,@correo)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_recuperar_login]    Script Date: 6/26/2021 12:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_recuperar_login] 
   @correo varchar(48),
   @cedula varchar(16) OUTPUT,
   @contrasena varchar(60) OUTPUT
AS  
BEGIN  
   SELECT  @cedula=[cedula], @contrasena=[contrasena]
   FROM [db_consulta_legal].[dbo].[tb_login]
   WHERE [dbo].[tb_login].correo = @correo  
END
GO
/****** Object:  StoredProcedure [dbo].[sp_validar_login]    Script Date: 6/26/2021 12:25:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_validar_login] 
	-- Add the parameters for the stored procedure here
	@nombreUsuario varchar(16), @contrasena varchar(60)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT idUsuario from tb_login where nombreUsuario = @nombreUsuario and contrasena = @contrasena
END
GO
USE [master]
GO
